body, html {
  height: 100%;
}
#topMain {
  background-image: url('./top_gradient.jpg');
}
#mainBody {
  background-image: url('./background_chili.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
#topImage {
  height: 128px;
  width: 128px;
  display: inline-block;
}
#mainTitle {
  font-size: 2.7em;
  font-style: oblique;
}
